@using LennyBlog.Models.ViewModels;
@model List<SideArticleCalendar>
<ul>
    @foreach (var item in Model)
    {
        <li><a href="/Article/Show/@item.DateDisplay" target="_blank">@item.DateDisplay (@item.Count) </a></li>
    }
</ul>