@using LennyBlog.Models;
@using CommonMark
@using LennyBlog.ViewComponents;
@{
    ViewBag.Title = "关于我们";
}
<link href="~/styles/view.css" rel="stylesheet" />
<link href="~/styles/bootstrap.min.css" rel="stylesheet" />
<article>
    <div class="l_box f_l">
        <div class="topnews">
            <h2>您现在的位置是：<a href="/">首页</a>&nbsp;&gt;&nbsp;<a href="#">关于我们</a></h2>
            <div class="news_title">关于我们</div>
            <div class="news_content">
                <ul>
                    <p>LennyBlog 是用来分享.Net技术的博客，该站点使用asp.net core 技术搭建。采用了Mysql作为存储</p>
                    <p>源代码已经开源于 https://github.com/applenele </p>
                    <p>热烈欢迎大家来讨论关于.Net 技术 </p>
                    <p>也欢迎Java和php开发者前来讨论</p>
                    <p>本人并不技术洁癖</p>
                </ul>
            </div>

        </div>
    </div>
    <div class="r_box f_r">
        <div class="ad" id="r_ad">
            <div class="mod-sb-panel">
                <ul>
                    <li><a href="/">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--r_box end -->
</article>